<%= render partial: 'shared/form_validations', locals: { model: @trigger } %>

<%= form_with model: @trigger do |f| %>
  <div class="overflow-hidden bg-white divide-y divide-gray-200 rounded-lg shadow">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="text-2xl font-bold text-gray-900">New Campaign Trigger</h1>
    </div>
    <div class="px-4 py-5 sm:p-6">
      <%= render partial: 'campaign_triggers/form', locals: { f: f } %>
    </div>
    <div class="px-4 py-4 bg-gray-50 sm:px-6">
      <div class="text-right">

        <%= link_to 'Cancel', campaign_path(@campaign), class: 'bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
        <%= f.submit 'Save', class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      </div>
    </div>
  </div>
<% end %>
