<%= render partial: 'shared/form_validations', locals: { model: @step } %>

<%= form_with model: @step, url: campaign_step_path(@campaign, @step) do |f| %>
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="text-2xl font-bold text-gray-900">Edit Campaign Step</h1>
    </div>
    <div class="space-y-6 px-4 py-5 sm:p-6">
      <div class="grid grid-cols-5 space-y-6">
        <% if @step.kind == 'evemail' %>
          <div class="col-span-3 col-start-2">
            <%= f.label :template_id, 'Template', class: 'block text-sm font-medium text-gray-700' %>
            <%= f.collection_select :template_id, current_corporation.templates.kept.order(:name), :id, :name, {}, class: 'block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>

          <div class="col-span-3 col-start-2">
            <%= f.label :user_id, 'Sender', class: 'block text-sm font-medium text-gray-700' %>
            <%= f.collection_select :user_id, current_corporation.users.order(:eve_character_name), :id, :eve_character_name, {}, class: 'block w-full py-2 pl-3 pr-10 text-base border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
        <% elsif @step.kind == 'delay' %>
          <div class="col-span-1 col-start-3">
            <%= f.label :delay_days, 'Delay', class: 'block text-sm font-medium text-gray-700' %>
            <%= f.text_field :delay_days, class: 'shadow-sm focus:ring-indigo-500 focus:border-indigo-500 inline-block sm:text-sm border-gray-300 rounded-md', placeholder: 'Days' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-4 sm:px-6">
      <div class="text-right">
        <%= f.submit 'Save', class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      </div>
    </div>
  </div>
<% end %>
